.idea/
/comb_opt/acq_optimizers/old/
/comb_opt/old
/boils/old
/comb_opt/tasks/eda_seq_opt/scripts/main_eda_seq_opt_34_level.sh
/comb_opt/tasks/eda_seq_opt/scripts/main_eda_seq_opt_34_lut.sh
/libs/mockturtle
/comb_opt/optimizers/old_bo/
/comb_opt/optimizers/utils/tlbo_utils/
/comb_opt/tasks/eda_seq_opt/scripts/eda_results_checker.*.py
/perso.md
/comb_opt/tasks/nn_transfer/
/comb_opt/tasks/data/nn_transfer/
/cocabo/
/hebo/
/comb_opt/tasks/antibody_design/path_to_AbsolutNoLib.txt
/comb_opt/tasks/eda_seq_opt/utils/utils_design_groups_perso.py
/comb_opt/tasks/eda_seq_opt/scripts/eda_results_checker_34.py
/comb_opt/tasks/eda_seq_opt/scripts/eda_results_checker_46.py
/comb_opt/tasks/eda_seq_opt/scripts/main_eda_seq_opt_48_level.sh
/boils/README.md
/comb_opt/optimizers/new/
/README-perso.md
